@import "./reset.css";
@import "./fonts/fonts.css";

* {
    box-sizing: border-box;
    }

body {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/background.png");
    background-color: #618182;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    width: 100%;
    height: 8vh;
    max-height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    transition: all 1s ease;
}

.title_name {
    margin-left: 79px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.title_name a {
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.nav_bar {
    display: flex;
    align-items: center;
}

.calendar {
    display: block;
    width: 21px;
    height: 24px;
    fill: #FFFFFF;
    transition: all 0.5s ease;
}

.letter {
    display: block;
    width: 23px;
    height: 23px;
    fill: #FFFFFF;
    margin-left: 27px;
    transition: all 0.5s ease;
}

.compass {
    display: block;
    width: 23px;
    height: 24px;
    fill: #FFFFFF;
    margin-right: 25px;
    margin-left: 24px;
    transition: all 0.5s ease;
}

.nav_entry {
    display: flex;
    align-items: center;
    height: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-right: 79px;
    padding-left: 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.nav_log_in, .nav_sing_up {
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.header:hover {
    background: rgba(0, 0, 0, 0.41);
    box-shadow: none;
}

.title_name:hover a, .nav_log_in:hover, .nav_sing_up:hover {
    color: #3CB878;
}

.calendar:hover, .letter:hover, .compass:hover {
    fill: #3CB878;
}

.main_form {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    display: flex;
    flex-direction: column;
    padding: 31px 60px 38px 60px;
}

.form_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_sign_up {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form_sign_up::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -60px;
    cursor: default;
}

.form_log_in {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.sign_up_item {
    display: flex;
    gap: 4px;
    margin-top: 15px;
    margin-bottom: 34px;
}

.sign_up_facebook {
    width: 160px;
    height: 48px;
    background: #305DB8;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 1s ease;
}

.sign_up_facebook_text {
    position: relative;
    color: #FFFFFF;
    padding-right: 22px;
}

.sign_up_facebook_text::before {
    content: '';
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    position: absolute;
    left: -18px;
    top: -5px;
}

.sign_up_facebook img {
    width: 24px;
    height: 24px;
    margin-left: 11px;
}

.sign_up_facebook:hover {
    background: #022263;
}

.sign_up_google {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 1s ease;
}

.sign_up_google_text {
    position: relative;
    color: #FFFFFF;
    padding-right: 27px;
}

.sign_up_google_text::before {
    content: '';
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
    position: absolute;
    left: -18px;
    top: -5px;
}

.sign_up_google img {
    width: 30px;
    height: 19px;
    margin-left: 12px;
}

.sign_up_google:hover {
    background: #AB1F09;
}

.or_line {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-bottom: 4.5px;
    overflow: hidden;
}

.or_line::before,
.or_line::after {
    content: '';
    background-color: #F2F2F2;
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 152px;
}

.or_line::before {
    right: 0.5em;
}

.or_line::after {
    left: 0.5em;
}

.form_field {
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    padding-left: 20px;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.form_field:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 19px;
}

.form_field:focus-visible {
    outline: none;
}

.checkbox-hidden {
    display: none;
}

.checkbox-label {
    display: flex;
    gap: 8px;
    color: #434343;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vector {
    width: 14px;
    height: 13.5px;
    display: none;
    transition: all 0.5s ease;
}

.agreement {
    margin-top: 4.5px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.terms_conditions {
    color: #3CB878;
    transition: all 0.5s ease;
}

.checkbox-label:hover .terms_conditions {
    color: #01813F;
    text-decoration: underline;
}

.checkbox-label:hover .vector path {
    stroke: #01813F;
}

.checkbox-hidden:checked ~ .checkbox-label .vector {
    display: block;
}

.button {
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: all 1s ease;
}

.button:hover {
    background: #01813F;
}
