@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), local('Ubuntu-Regular'), url('Ubuntu-Regular.woff2') format('woff2'), url('Ubuntu-Regular.woff') format('woff'), url('Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('Ubuntu-Bold.woff2') format('woff2'), url('Ubuntu-Bold.woff') format('woff'), url('Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
